body {
  width: 100%;
  height: 100%;
  margin: 0;
 
}
Div{
  background-color: red;
  float: left;
  text-align: center;
  width: 25%;
}
 nav a{
  padding:10px;
  background-color: grey;
}


#featured-property{
  text-align:center;
 
}

#featured-property p{
  size: 800px;
}